<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>乐优商城--我的订单</title>
     <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css" />
</head>

<body>

	<!-- 头部栏位 -->
	<!--页面顶部，由js动态加载-->
	<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
	<div id="nav-bottom"></div>
    <script type="text/javascript">$("#nav-bottom").load("top.html");</script>

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#service").hover(function(){
		$(".service").show();
	},function(){
		$(".service").hide();
	});
	$("#shopcar").hover(function(){
		$("#shopcarlist").show();
	},function(){
		$("#shopcarlist").hide();
	});

})
</script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
</body>
    <!--header-->
    <div id="homeIndexApp" >
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">

                    <div class="person-info">
                        <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                        <div class="person-account">
                            <span class="name">{{user.username}}</span>
                            <span class="safe"><a href="#">退出登录 </a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list-items">
                        <dl>
							<dt><i>·</i> 订单中心</dt>
							<dd ><a href="home-index.html"  class="list-active" >我的订单</a></dd>
							<dd><a href="home-order-pay.html" >待付款</a></dd>
							<dd><a href="home-order-send.html"  >待发货</a></dd>
							<dd><a href="home-order-receive.html" >待收货</a></dd>
							<dd><a href="home-order-evaluate.html" >待评价</a></dd>
						</dl>
						<dl>
							<dt><i>·</i> 我的中心</dt>
							<dd><a href="home-person-collect.html">我的收藏</a></dd>
							<dd><a href="home-person-footmark.html">我的足迹</a></dd>
						</dl>
						<dl>
							<dt><i>·</i> 物流消息</dt>
						</dl>
						<dl>
							<dt><i>·</i> 设置</dt>
							<dd><a href="home-setting-info.html">个人信息</a></dd>
							<dd><a href="home-setting-address.html"  >地址管理</a></dd>
							<dd><a href="home-setting-safe.html" >安全管理</a></dd>
						</dl>
                    </div>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6 order-pay">
                    <div class="body">
                        <div class="table-title">
                            <table class="sui-table  order-table">
                                <tr>
                                    <thead>
                                        <th width="35%">宝贝</th>
                                        <th width="5%">单价</th>
                                        <th width="5%">数量</th>
                                        <th width="8%">商品操作</th>
                                        <th width="10%">实付款</th>
                                        <th width="10%">交易状态</th>
                                        <th width="10%">交易操作</th>
                                    </thead>
                                </tr>
                            </table>
                        </div>
                        <div class="order-detail">
                            <div class="orders">
								<!--order1-->
                                <div v-for="(order,index) in orders" :key="index">
                                    <div class="choose-title">
                                        <label data-toggle="checkbox" class="checkbox-pretty ">
                                            <input type="checkbox" checked="checked"><span>{{ly.formatDate(order.createTime)}}　订单编号：{{order.orderId}}  店铺：哇哈哈 <a>和我联系</a></span>
                                        </label>
                                    </div>
                                    <table class="sui-table table-bordered order-datatable" v-for="(orderDetail,i) in order.orderDetails" :key="i">
                                        <tbody>
                                        <tr>
                                            <td width="35%">
                                                <div class="typographic">
                                                    <img :src="orderDetail.image" width="80px" height="80px" />
                                                    <a href="#" class="block-text">{{orderDetail.title}}</a>
                                                    <span class="guige"></span>
                                                </div>
                                            </td>
                                            <td width="5%" class="center">
                                                <ul class="unstyled">
                                                    <li class="o-price">{{ly.formatPrice(orderDetail.price*1)}}</li>
                                                    <li>¥{{ly.formatPrice(orderDetail.price*1)}}</li>
                                                </ul>
                                            </td>
                                            <td width="5%" class="center">{{orderDetail.num}}</td>
                                            <td width="8%" class="center">

                                            </td>
                                            <td width="10%" class="center" >
                                                <ul class="unstyled">
                                                    <li>¥{{ly.formatPrice(orderDetail.price * orderDetail.num)}}</li>
                                                    <li>（含运费：￥{{ly.formatPrice(post_fee)}}）</li>
                                                </ul>
                                            </td>
                                            <td width="10%" class="center">
                                                <ul class="unstyled">
                                                    <div v-show="order.status == 1"><li>等待买家付款</li></div>
                                                    <div v-show="order.status == 2"><li>等待卖家发货</li></div>
                                                    <div v-show="order.status == 3"><li>等待买家收货</li></div>
                                                    <div v-show="order.status == 4"><li>交易成功</li></div>
                                                    <div v-show="order.status == 5"><li>交易关闭</li></div>
                                                    <li><a href="javascript:void(0);" class="btn" @click="gotoOrderDetail(order.orderId)">订单详情 </a></li>
                                                </ul>
                                            </td>
                                            <td width="10%" class="center">
                                                <ul class="unstyled">
                                                    <li><a href="javascript:void(0);" class="sui-btn btn-info" v-show="order.status == 1" @click="payment(order.orderId,order.actualPay)">立即付款</a></li>
                                                    <br  v-show="order.status == 1">
                                                    <li><a href="javascript:void(0);" class="sui-btn btn-info" v-show="order.status == 2" @click="deliverOrder(order.orderId)">提醒发货</a></li>
                                                    <br  v-show="order.status == 2">
                                                    <li><a href="javascript:void(0);" class="sui-btn btn-info" v-show="order.status == 3" @click="receiveOrder(order.orderId)">确认收货</a></li>
                                                    <br  v-show="order.status == 3">
                                                    <li><a href="javascript:void(0);" class="sui-btn btn-info" v-show="order.status == 4" @click="">立即评价</a></li>
                                                    <br  v-show="order.status == 4">
                                                    <li> <a href="javascript:void(0);" class="sui-btn btn-info" @click="cancelOrder(order.orderId)">取消订单</a></li>
                                                    <br>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="choose-order">
                                <div class="sui-pagination pagination-large top-pages">
                                    <ul>
                                        <li class="prev disabled">
                                            <a href="javascript:void(0);" @click="prevPage()" :class="{disabled:query.page === 1}">
                                                «上一页
                                            </a>
                                        </li>

                                        <li :class="{active: query.page === index(i)}" v-for="i in Math.min(5,totalPage)" :key="i">
                                            <a href="javascript:void(0);" @click="query.page = index(i)">{{index(i)}}</a>
                                        </li>

                                        <li class="dotted" v-show="totalPage > 5 || totalPage-query.page < 3">
                                            <span>...</span>
                                        </li>
                                        <li class="next">
                                            <a href="javascript:void(0);" @click="nextPage()" :class="{disabled:query.page === totalPage}">
                                            下一页»
                                            </a>
                                        </li>
                                    </ul>
                                    <div><span>共{{totalPage}}页&nbsp;</span><span>
                                            到
                                            <input type="text" class="page-num"><button class="page-confirm" onclick="alert(1)">确定</button>
                                            页</span></div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>

                        <div class="like-title">
                            <div class="mt">
                                <span class="fl"><strong>热卖单品</strong></span>
                            </div>
                        </div>
                        <div class="like-list">
                            <ul class="yui3-g">
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike01.png" />
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
											<em>¥</em>
											<i>3699.00</i>
										</strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有6人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike02.png" />
                                        </div>
                                        <div class="attr">
                                            <em>Apple苹果iPhone 6s/6s Plus 16G 64G 128G</em>
                                        </div>
                                        <div class="price">
                                            <strong>
											<em>¥</em>
											<i>4388.00</i>
										</strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike03.png" />
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
											<em>¥</em>
											<i>4088.00</i>
										</strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike04.png" />
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
											<em>¥</em>
											<i>4088.00</i>
										</strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- 底部栏位 -->
	<!--页面底部，由js动态加载-->
	<div class="clearfix footer"></div>
	<script type="text/javascript">$(".footer").load("foot.html");</script>
	<!--页面底部END-->
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script type="text/javascript">
    var homeIndexVm = new Vue({
        el:"#homeIndexApp",
        data:{
            ly,
            user:"",//包含用户名与用户Id
            query:{
                page:1,//当前页
                rows:5,//每页大小
                status:0 //订单状态
            },
            orders:[],
            total:0,//总记录数
            totalPage:0,//总页数
        },
        methods:{
            //修改订单状态
            updateOrder(orderId,status){
                ly.verifyUser().then(resp=>{
                    ly.http.put("/order/order/"+orderId+"/"+status).then(()=>{
                       this.loadOrder();
                    })
                }).catch(()=>{
                    window.location.href = "http://www.leyou.com/login.html?returnUrl=http://www.leyou.com/home-index.html"
                });
            },
            //取消订单
            cancelOrder(orderId){
                this.updateOrder(orderId,5);
                this.loadOrder();
                alert("已取消该订单")

            },
            //立即付款
            payment(orderId,actualPay){
                const realActualPay = ly.formatPrice(actualPay);
                window.location = "http://www.leyou.com/pay.html?orderId="+orderId+"&actualPay=" + realActualPay;
            },
            //确认收货
            receiveOrder(orderId){
                this.updateOrder(orderId,4);
                this.loadOrder();
                alert("已确认收货")
            },
            deliverOrder(orderId){
                this.updateOrder(orderId,3);
                this.loadOrder();
                alert("已经提醒商家发货了")
            },
            //加载全部订单
            loadOrder() {
                ly.verifyUser().then(resp=>{
                    this.user = resp.data;
                    ly.http.get("/order/order/list?"+ly.stringify(this.query)).then(({data})=>{
                            this.orders = data.items;
                            this.totalPage=data.totalPage;
                            this.total=data.total;
                    }).catch(()=>{
                        this.orders = [];
                    });
                }).catch(()=>{
                    window.location.href = "http://www.leyou.com/login.html?returnUrl=http://www.leyou.com/home-index.html"
                });
            },
            index(i){
                if(this.query.page <= 3 || this.totalPage <= 5){
                    // 如果当前页小于等于3或者总页数小于等于5
                    return i;
                }else if(this.query.page >= this.totalPage - 2){
                    //如果当前页在最后3页
                    return this.totalPage-5+i;
                }else {
                    return this.query.page-3+i;
                }
            },
            prevPage(){
                if(this.query.page > 1){
                    this.query.page--;
                }
            },
            nextPage(){
                if(this.query.page < this.totalPage){
                    this.query.page++;
                }
            },
            gotoOrderDetail(o){
                // 判断是否登录
                ly.verifyUser().then(() => {
                    // 已登录
                    window.location.href = "http://www.leyou.com/home-orderDetail.html?orderId="+o;
                }).catch(() => {
                    // 未登录
                    window.location.href = "http://www.leyou.com/login.html?returnUrl=http://www.leyou.com/home-index.html";
                })
            }
        },
        watch:{
            'query':{
                deep:true,
                handler(){
                    this.loadOrder();
                }
            }
        },
        created(){
            this.loadOrder();
            //对page进行初始化 防止第一次访问为空
            this.query.page  = this.query.page ? parseInt(this.query.page) : 1 ;
        },
        components: {
            shortcut: () => import("./js/pages/shortcut.js")
        }
    });

</script>
</html>